@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

input[type="password"] {
  font-family: sans-serif;
}

@layer base {
  :root {
    font-size: 16px;
  }

  @screen md {
    :root {
      font-size: 20px;
    }
  }

  @screen xl {
    :root {
      font-size: 24px;
    }
  }

  @screen 2xl {
    :root {
      font-size: 32px;
    }
  }

  @screen 2k {
    :root {
      font-size: 40px;
    }
  }

  @screen 4k {
    :root {
      font-size: 48px;
    }
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
}
