on:
  pull_request:
    branches:
      - fe-deploy-test
    paths:
      - "frontend/**"

jobs:
  deploy:
    name: front-deploy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: SSH-deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          port: ${{ secrets.REMOTE_PORT }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          script: |
            cd /repository
            git pull origin main
            cd /repository/frontend
            npm install
            npm run build
            sudo service nginx restart
